<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="BusinessName" value="GroceryCo"/>
    <add key="BusinessPhone" value="403-111-5555"/>
    <add key="XmlCatalogFilePath" value="C:\Temp\Sandbox\GroceryCo\GroceryCoTests\Data\Catalog.xml"/>
  </appSettings>
</configuration>